.outer-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
    background-attachment: fixed;
    margin:0;
    height: 100%
}
.main-wrapper {
  padding-top: 2em;
}

.card-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-poster {
  user-select: none;
  cursor: default;
  width: inherit;
  height: 550px;
}

.card-details {
  user-select: none;
  cursor: default;
  padding: 20px;
  color: white;
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, .8);
  border: 2px white solid;
  height: inherit;
  width: 600px;
  height: 506px;
  display: flex;
  flex-direction: column;
}

.card-header {
  margin-bottom: 2em;
}

.card-title {
  font-family: 'Bungee', cursive;
  font-size: 2.5vw;
  text-shadow: 1px rgb(246, 246, 246);
}

.card-tagline {
  font-family: 'Lora';
  font-size: 1.6vw;
  color: rgb(71, 255, 79);
  margin-bottom: 5px;
  font-style: italic;
}

.card-overview {
  font-family: 'Roboto';
  font-size: 1.1vw;
}

.card-property-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-bottom: 30px;
}

.property-label {
  font-family: 'Lora';
  text-shadow: 1px white;
  font-size: 1.2vw;
}

.property {
  color: rgb(71, 255, 79);
  font-size: 1.3vw;
}

.card-col-container {
  display: flex;
  flex-wrap: wrap;
}

.card-col {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.genre {
  font-family: 'Roboto';
  color: rgb(71, 255, 79);
  font-size: 1.3vw;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px rgba(255, 255, 255, 0.3) solid;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 8px;
}

.genre-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: space-between;
  width: auto;
}
.actor-col {
  display: flex;
  flex-direction: column;
  width: auto;
}
.actor-bio-wrapper{
  display: flex;
  flex-direction: column;
}
.biography-label {
  color: rgb(71, 255, 79);
  font-family: 'Lora';
  text-shadow: 1px white;
  font-size: 1.2vw;
  font-weight: bolder;
}
.actor-property-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  padding-bottom: 10px;
}
.actor-bio {
  margin-top: 5px;
  padding: 5px;
  width: inherit;
  height: 120px;
  overflow-y: scroll;
}
.actor-movie-poster-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 3px;
}
.actor-related-movies-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}
.actor-related-movies-container {
  display: flex;
  flex-wrap: wrap;
}
.actor-movie-poster-title {
  font-size: 1em;
  color: rgb(71, 255, 79);
}
.actor-related-movies-label {
  padding-bottom: 5px;
}
.known-for-main-wrap {
  display: flex;
  flex-direction: column;
}
