.card-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-poster {
  user-select: none;
  cursor: default;
  width: inherit;
  height: 550px;
}

.card-details {
  user-select: none;
  cursor: default;
  padding: 20px;
  color: white;
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, .8);
  border: 2px white solid;
  height: inherit;
  width: 600px;
  height: 506px;
  display: flex;
  flex-direction: column;
}

.card-header {
  margin-bottom: 3em;
}

.card-title {
  font-size: 30px;
  text-shadow: 1px rgb(246, 246, 246);
}

.card-tagline {
  font-size: 20px;
  color: rgb(71, 255, 79);
  margin-bottom: 5px;
  font-style: italic;
}

.card-overview {
  font-size: 16px;
}

.card-property-wrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-bottom: 30px;
}

.property-label {
  text-shadow: 1px white;

}

.property {
  color: rgb(71, 255, 79);
}

.card-col-container {
  display: flex;
  flex-wrap: wrap;
}

.card-col {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.genre {
  color: rgb(71, 255, 79);
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px rgba(255, 255, 255, 0.3) solid;
  padding-left: 2px;
  padding-right: 2px;
}

.genre-wrap {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: auto;
}
