#title {
  font-family: 'Roboto';
  color: rgb(71, 255, 79);
  user-select: none;
  cursor: default;
  font-weight: bolder;
  font-size: 50px;
  position: sticky;
  clear: both;
  text-shadow: 1px 1px white;
}

#name {
  font-family: 'Roboto';
  color: rgb(157, 157, 157);
  text-align: center;
}

.title-name-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-li a i {
  color: white;
}

.footer-li a {
  color: rgb(157, 157, 157);
  font-family: 'Roboto';
}
.footer-li a:hover {
  color: rgb(187, 187, 187);
  font-family: 'Roboto';
}


footer {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}
